* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    height: 80px;
    background-color: #cdcdcd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container {
    width: 100vw;
    min-height: 100vh;
    background-color: #f5f5f7;

}

.gabbia {
    width: 80vw;
    min-height: 100vh;
    background-color: #eeeeee;
    margin: 0 auto;
    display: flex;
    padding: 100px;
    flex-wrap: wrap;
    justify-content: center;

}

.scheda {
    /* flex-basis: 200px; */
    width: 200px;
    height: 280px;
    background-color: #cdcdcd;
    border-radius: 5.5px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;

}


.img-box img {
    width: 200px;
    height: 280px;
    border-radius: 5.5px;
    z-index: 999;

}

.img-box {
    width: 200px;
    height: 280px;
    border-radius: 5.5px;
    z-index: 999;
}

.img-box:hover {
    display: none;

}

.scheda i {
    color: black;
    font-size: 30px;

}

#ricerca {
    height: 30px;
    width: 180px;
    border-radius: 5px;
    padding: 3px;
    border: 2px solid white;

}

header button {
    height: 30px;
    width: 50px;
    border-radius: 5px;
    padding: 3px;
    margin-left: 5px;

}

.overlay {
    width: 200px;
    height: 280px;
    border-radius: 5.5px;
    margin: 10px;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 900;
    
}
