* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';

}

header {
    height: 80px;
    background-color: black;
    cursor: pointer;
}

.container {
    width: 100vw;
    min-height: 100vh;
    background-color: #494949;

}

.gabbia {
    width: 100vw;
    min-height: 100vh;
    background-color: #494949;
    margin: 0 auto;
    display: flex;
    padding: 100px;
    flex-wrap: wrap;
    justify-content: center;

}

.scheda {
    /* flex-basis: 200px; */
    width: 250px;
    height: 350px;
    background-color: black;
    margin: 2px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    color: white;

}


.img-box img {
    width: 250px;
    height: 350px;
    z-index: 999;

}

.img-box {
    width: 250px;
    height: 350px;
    z-index: 999;
}

.img-box:hover {
    display: none;

}

.scheda i {
    color: gold;
    font-size: 15px;

}

#ricerca {
    height: 30px;
    width: 180px;
    border-radius: 5px;
    padding: 3px;
    border: 2px solid white;

}

header button {
    height: 30px;
    width: 50px;
    border-radius: 5px;
    padding: 3px;
    margin-left: 5px;
    border: 2px solid #f0f0f0;

}

.overlay {
    width: 250px;
    height: 350px;
    border-radius: 5.5px;
    margin: 10px;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 900;

}

.ov-lay {
    width: 100%;
    font-size: 14px;
    padding: 5px;


}

.quattro {
    max-height: 50%;
    overflow-y: hidden;

}

.ov-lay img {
    width: 30px;
    height: 25px;
    position: relative;
    top: 8px;

}

.ov-lay strong {
    color: red;
}

.logo {
    height: 100%;
    color: red;
    float: left;
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.research {
    height: 100%;
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
